body{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.div{
    text-align: center;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px white;
    font-family: Arial;
    padding-top: 10px;
    padding-bottom: 40px;
    border: 2px solid aqua;
    border-top-color: blueviolet;
    border-bottom-color: blueviolet;
}

.div>input{
    border-radius: 5px;
    padding: 7px;
}

.div>button{
    border-radius: 6px;
    padding: 5px;
    width: 70px;
}
.div>button:hover{
    color: white;
    background-color: rgb(10, 180, 180);
    transition: all 0.4s ease-in-out;
}